:root {
	--header-background: #fffff9;
	--header-text: #720974;
	--header-linkcolor: #fffff9;
	--header-linkhover: #e35353;
	--header-border-color: 235, 221, 230;
	--header-menucolor: #720974;
	--header-menuhover: #e82d20;
	--header-menudroptexttitle: #ffffff;
	--header-menudroptext: #000000;
	--header-menudropbg: #ffffff;
	--header-menudropborder: #f1f1f1;
	--header-topbarbg: #ffffff;
	--header-topborderbg: #e1e1e1;
	--header-text-top: #000000;
	--padding-menu: 20px;
	--menu_font_size: 12px;
	--menu_font_weight: 600;
	--menu_type_text: uppercase;
	--menu_font_family: var(--g-font-1);
	--menu_spacing: 0.1em;
	--g-font-1: Arial, Helvetica, sans-serif;
	--g-label-text: #ffffff;
	--g-label-new: #e35353;
	--g-label-hot: #5369e3;
	--g-label-sale: #34bf49;
	--g-label-other: #848484;
}

html, body { margin: 0; min-height: 100%; font-family: var(--g-font-1); background: var(--header-background); color: var(--header-menudroptext); }
body { min-width: 320px; }
* { box-sizing: border-box; }
button, a { -webkit-tap-highlight-color: transparent; }
